:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
  --color-bg: linear-gradient(to top,#010329,#000005);
  --color-glass:linear-gradient(to left,#142544,#1a9092);
  --color-water:linear-gradient(to left,#142544,#1b6d6e);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main {
  min-height: 100vh;
  background-color: #FFFDD0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  margin: 70px 0;
  color: black;
  font-size: 36px;
}

.buttonWrapper{
  display: flex;
  flex-direction: row;
}

.button{
  padding: 10px;
  background-color: #FFFDD0;
  border-radius: 10px;
  color: black;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  transition-duration: 0.4s;
  border: 2px solid pink;
  cursor: pointer;
  z-index: 10;
}

.button:hover{
  background-color: pink;
  color: white;
}

.heart {
	position: relative;
	width: 300px;
	height: 280px;
	margin: 100px auto;
  z-index: 10;
}

.heart::before,
.heart::after {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	background-color: #640d0d;
	width: 150px;
	height: 240px;
	border-radius: 75px 75px 0 0;
}

.heart::before {
	left: 0px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #cf9797;
	box-shadow: -10px 1px 15px 0 rgba(0,0,0,0.2),
		inset 20px -195px 65px 0 #640d0d, 
		inset -2px 2px 0 rgba(255,255,255,.75), 
		inset -5px 20px 0px rgba(255,255,255,.35), 
		inset -5px 20px 10px rgba(255,255,255,.25);		
}
.heart::after {
	left: 64px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	box-shadow: 
		15px 3px 25px rgba(0,0,0,0.35),
		inset -25px 10px 35px rgba(0,0,0,.35);
		
}

.message {
	font-family: 'Petit Formal Script', cursive;
	font-size: 36px;
	font-weight: bold;
	color: #640d0d;
	text-shadow: -1px -1px 1px #ae6363, 1px 1px 1px #450000;
	padding: 50px 0 0 5px;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
}
.message:fisrt-child {
	text-indent: 1em;
}

.flower{
    position: relative;
}

.flower__glass{
    width:20vmin;
    height: 30vmin;
    background-image: var(--color-glass);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
    opacity: .8;
    position: relative;
}

.flower__glass::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #182843;
    width: 100%;
    height: 2vmin;
}

.flower__glass::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: var(--color-water);
    width: 100%;
    height: 15vmin;
}

.f-wrapper{
    position: absolute;
    left: 45%;
    bottom: 2vmin;
}

.f-wrapper--2{
    left: 50%;
    bottom: 5%;
    transform-origin: 10% left;
    transform: rotate(20deg);
}

.f-wrapper--3{
    left: 30%;
    bottom: 5%;
    transform-origin: 10% left;
    transform: rotate(-10deg);
}

.f-wrapper--3 .flower__line{
    height: 45vmin;
    position: relative;
}

.f-wrapper--3 .flower__line::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    width: 6vmin;
    height: 6vmin;
    transform: translate(-69%,-30%) rotate(-5deg);
    border-radius:10vmin 10vmin 0 0;
    border: 2vmin solid  #104d4e;
    border-bottom: transparent;
    border-left: transparent;
}

.f-wrapper--3 .flower__line::before{
    content: '';
    position: absolute;
    left:-40%;
    top: -1%;
    width: 6vmin;
    height: 2vmin;
    transform-origin: right;
    transform: translate(-100%,-80%) rotate(-20deg);
    background-color: #104d4e;
    border-radius: 2vmin;
}

.f-wrapper--3 .flower__line{
    background-image: linear-gradient(to top,#142544,#104d4e);
}


.f-wrapper--2 .flower__line{
    height: 45vmin;
}

.f-wrapper--2 .f{
    transform: translateX(-50%) rotate(20deg);
}

.f-wrapper--3 .f{
    transform: translate(-350%,-50%) rotate(-120deg);
}

.f-wrapper--2 .flower__leaf:not(:first-child){
    width: 3.8vmin;
    height: 10vmin;
    background-image: linear-gradient(to bottom, #ff43b6 ,#c22887, #1a233a 99%);
}

.f-wrapper--3 .flower__leaf:not(:first-child){
    width: 3.8vmin;
    height: 10vmin;
    background-image: linear-gradient(to bottom, #ad2be0 ,#712291, #1a233a 99%);
}

.f-wrapper--3 .flower__leaf--1{
    width: 8vmin;
    height: 10vmin;
    bottom: 2vmin;
    background-color: #ad2be0;
}

.f-wrapper--2 .flower__leaf--1{
    width: 8vmin;
    height: 10vmin;
    bottom: 2vmin;
    background-color: #de118b;
}

.f-wrapper--2 .f .flower__leaf--8{
    width: 10vmin;
    height: 9vmin;
    bottom: 3vmin;
    left: -30%;
    transform: rotate(-50deg);
    background-image: linear-gradient(to left bottom, #ff43b6 ,#4d1337);;
}

.f-wrapper--3 .f .flower__leaf--8{
    width: 10vmin;
    height: 9vmin;
    left: -10% !important;
    background-image: linear-gradient(to left bottom, #ad2be0 ,#712291);;
}

.flower__line{
    width: 2vmin;
    height: 56vmin;
    background-image: linear-gradient(to left top,#82fdff 20%,#142544,#104d4e);
    border-radius: 4vmin;
}

.f{
    position: absolute;
    top: 1vmin;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    width: 2vmin;
    height: 2vmin;
}


.flower__leaf{
    position: absolute;
    left: 50%;
    bottom: 2vmin;
    transform: translateX(-50%);
    width: 5vmin;
    height: 14vmin;
    background-image: linear-gradient(to bottom, #ffa085 ,#fa7373, #1a233a 99%);

    clip-path: ellipse(50% 50% at 50% 50%);
    transform-origin: center bottom;
    animation: open-flower 2s 1s backwards;
}

.flower__leaf--1{
    width: 10vmin;
    height: 12vmin;
    bottom: 3vmin;
    border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%;
    background-color: #e24f5f;
    background-image: none;
    animation: open-flowe--middle  1.4s 1s backwards;
}

.flower__leaf--2{
    transform: translateX(-50%) rotate(-30deg);
}
.flower__leaf--3{
    transform: translateX(-50%) rotate(-50deg);
}
.flower__leaf--4{
    transform: translateX(-50%) rotate(-70deg);
}

.flower__leaf--5{
    transform: translateX(-50%) rotate(30deg);
}

.flower__leaf--6{
    transform: translateX(-50%) rotate(50deg);
}

.flower__leaf--7{
    transform: translateX(-50%) rotate(70deg);
}

.flower__leaf--8{
    width: 13vmin;
    height: 11vmin;
    bottom: 6vmin;
    left: -30%;
    border-radius: none;
    clip-path: none;
    border-radius: 10vmin 2vmin 10vmin 2vmin;
    transform: rotate(-55deg);
    background-image: linear-gradient(to left bottom, #ffa085 ,#eb8b8b,#492f2f 98%);
}

.flower__fall-down--yellow{
    animation: flower-fall-down-yellow  8s 1.2s linear forwards;
}

.flower__fall-down--pink{
    animation: flower-fall-down-pink  5s 1.2s linear forwards;
}

.flower__fall-down--purple{
    bottom: 4vmin;
    animation:flower-fall-down-purple  6s 1.2s linear forwards, flower-falling 6s 7.2s linear infinite;
}


@keyframes open-flower{
        0%{
            transform:  translateX(-50%) rotate(0);
        }
}

@keyframes open-flowe--middle {
    0%{
        opacity: 0;
        transform: translateX(-50%) scale(0);
    }
}

@keyframes flower-fall-down-pink {

    0%{
        transform: rotate(-55deg);
    }

    50%{
        transform: rotateX(-100deg);
    }

    100%{
        transform:translate(2vmin,28vmin);
    }

}

@keyframes flower-fall-down-yellow {

    0%{
        transform: rotate(-55deg);
    }

    50%{
        bottom: 3vmin;
        transform: rotateX(-100deg);
    }

    100%{
        transform:translate(2vmin,70vmin) rotate(150deg);
    }

}

@keyframes flower-fall-down-purple {

    0%{
        transform: rotate(-50deg);
    }

    25%{
        bottom: 1vmin ;
        transform: rotateX(-100deg);
        perspective: 0px;
    }

    50%{
        perspective: 0px;
        transform:translate(-30vmin,2vmin) rotate(90deg);
    }

    75%{
        perspective: 0px;
        transform:translate(-34vmin,-2vmin);
    }

    100%{
        transform-origin: center;
        transform:translate(-34vmin,-2vmin) rotateY(-80deg) rotateX(35deg);
    }

}

@keyframes flower-falling {
    0%,100%{
        transform-origin: center;
        transform:translate(-34vmin,-2vmin) rotateY(-80deg) rotateX(35deg);
    }

    25%{
        transform-origin: center;
        transform:translate(-34.4vmin,-2vmin) rotateY(-84deg) rotateX(35deg);
    }

    50%{
        transform-origin: center;
        transform:translate(-32vmin,-4.2vmin) rotateY(-80deg) rotateX(35deg);
    }

    75%{
        transform-origin: center;
        transform:translate(-36vmin,1.1vmin) rotateY(-80deg) rotateX(35deg);
    }
}

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 130px;
  position: absolute;
  right: 0;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

